<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />

	<application
		android:name=".MokonaApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.Mokona">

		<service
			android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
			android:enabled="false"
			android:exported="false">
			<meta-data android:name="autoStoreLocales" android:value="true" />
		</service>

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<!-- Pixiv's login page hands the OAuth code back through this link. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="pixiv" android:host="account" android:path="/login" />
			</intent-filter>
			<!-- pixiv.net links to a work or an artist can open in Mokona. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https" />
				<data android:host="www.pixiv.net" />
				<data android:host="pixiv.net" />
				<data android:pathPrefix="/artworks/" />
				<data android:pathPrefix="/users/" />
				<data android:pathPrefix="/en/artworks/" />
				<data android:pathPrefix="/en/users/" />
				<data android:pathPrefix="/member_illust.php" />
			</intent-filter>
		</activity>
	</application>

</manifest>
